{% extends "appcom/base.html" %}
{% load static %}

{% block title %}Logged Out | Luxury Commerce{% endblock %}
{% block header %}You've Signed Out{% endblock %}

{% block content %}
<div class="content-section text-center">
    <h2 class="mb-4">You have been successfully logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}" class="btn btn-outline-info">Sign In Again</a>
        </small>
    </div>
</div>
{% endblock content %}


